backcall==0.2.0
certifi==2020.6.20
colorama==0.4.4
decorator==4.4.2
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
numpy==1.19.3
opencv-python==4.4.0.46
parso==0.7.1
pickleshare==0.7.5
Pillow==8.0.1
prompt-toolkit==3.0.8
Pygments==2.7.2
pyperclip==1.8.1
pyzbar==0.1.8
six==1.15.0
traitlets==4.3.3
wcwidth==0.2.5
wincertstore==0.2
